#tiles {
    font-family: 'Open Sans Condensed', sans-serif;
    & .container {
        justify-content: center;
    }
    & .row {
        justify-content: center;
    }
    
    & .inner {
        padding: 15px;
        display: flex;
        justify-content: center;
        max-width: 300px;
    }
    & img {
        min-width: 270px;
        max-height: 270px;
    }
}
#tiles{
    & .col {
        border: 1px solid black;
        position: relative;
        max-width: 300px;
        padding: 0;
        justify-content: center;
        align-items: center;
        &:first {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        & span {
            position: absolute;
            bottom: 15px;
            padding: 5px 0;
            text-align: center;
            color: white;
            background-color: rgba(31, 6, 45, 0.9);
        }
        & .hidden {
            opacity: 0;
            display: block;
            height: 60%;
            width: 60%;
            position: absolute;
            top: 44% ;
            left: 50%;
            margin: -30% 0 0 -30%;
            z-index: 1001;
            border-radius: 5px;
            transition: opacity ease .5s;
            & img {
                min-width: 0;
                width: 100%;
                height: auto;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}
